<!-- src/app/components/register/register.component.html -->
<div class="container">
  <h2>Registro</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" id="username" [(ngModel)]="userData.username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" [(ngModel)]="userData.email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password1">Contraseña</label>
      <input type="password" id="password1" [(ngModel)]="userData.password1" name="password1" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password2">Confirmar Contraseña</label>
      <input type="password" id="password2" [(ngModel)]="userData.password2" name="password2" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="first_name">Nombre</label>
      <input type="text" id="first_name" [(ngModel)]="userData.first_name" name="first_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="last_name">Apellido</label>
      <input type="text" id="last_name" [(ngModel)]="userData.last_name" name="last_name" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
  <div>
    <button type="button" class="btn btn-secondary" (click)="home()">No Registrarse</button>
  </div>
</div>