<div>
<h2>Lista de Huespedes</h2>
<ul>
    <li *ngFor="let guest of guests">
    {{ guest.first_name }} {{ guest.last_name }} - {{ guest.email }}
    </li>
</ul>

<form (ngSubmit)="createGuest()">
    <label>First Name:</label>
    <input type="text" [(ngModel)]="guest.first_name" name="first_name" required>
    <br>
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="guest.last_name" name="last_name" required>
    <br>
    <label>Email:</label>
    <input type="email" [(ngModel)]="guest.email" name="email" required>
    <br>
    <button type="submit">Huesped Añadido</button>
</form>
</div>